body{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
	background: #1c2a44;
}
.circle{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 70%;
	animation: ring 2s linear infinite;
}
@keyframes ring{
	0%{
		transform: rotate(0deg);
		box-shadow: 1px 5px 2px red;
	}
	50%{
		transform: rotate(180deg);
		box-shadow: 1px 5px 2px limegreen;
	}
	100%{
		transform: rotate(360deg);
		box-shadow: 1px 5px 2px skyblue;
	}
}
.ring::before{
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border-radius: 70%;
	box-shadow: 0 0 5px rgba(27, 145, 104, 0.3);
}
span{

	color: red;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 200px;
	animation: text 3s ease-in-out infinite;

}
@keyframes text{
	50%{
		color: white;
	}
}
.center{
	display: flex;
	align-items: center;
	justify-content: center;
}